In [1]:
import pandas as pd
from ydata_profiling import ProfileReport

# Question 1

In [10]:
df = pd.read_csv('bankloan.csv')
df.describe()

,Row ID,id,member_id,loan_amnt,funded_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,...,mths_since_last_major_derog,annual_inc_joint,dti_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,total_rev_hi_lim,Unnamed: 50,36months,60months
count,368.000000,2.129990e+05,2.129990e+05,212999.000000,212999.000000,212999.000000,212999.000000,2.129990e+05,212999.000000,212999.000000,...,62365.000000,441.000000,439.000000,212999.000000,212999.000000,2.129990e+05,2.129990e+05,0.0,511.000000,511.000000
mean,184.500000,6.103515e+07,6.515927e+07,15257.965530,15257.965530,12.401658,440.842921,7.780071e+04,19.360817,0.347462,...,45.468356,107574.096327,18.320114,0.005718,261.951652,1.416537e+05,3.444425e+04,NaN,0.622309,0.377691
std,106.376689,4.734904e+06,5.215173e+06,8611.713377,8611.713377,4.249365,245.858646,8.188065e+04,31.925871,0.921209,...,22.645675,47921.057382,7.230012,0.081045,2215.188372,1.568766e+05,3.531827e+04,NaN,0.485285,0.485285
min,1.000000,5.670500e+04,7.082500e+04,1000.000000,1000.000000,5.320000,30.120000,0.000000e+00,0.000000,0.000000,...,0.000000,17950.000000,3.050000,0.000000,0.000000,0.000000e+00,0.000000e+00,NaN,0.000000,0.000000
25%,92.750000,5.783411e+07,6.158651e+07,8500.000000,8500.000000,9.170000,262.230000,4.700000e+04,12.660000,0.000000,...,28.000000,75001.000000,13.185000,0.000000,0.000000,3.143300e+04,1.460000e+04,NaN,0.000000,0.000000
50%,184.500000,6.137900e+07,6.549753e+07,14000.000000,14000.000000,12.290000,382.870000,6.500000e+04,18.720000,0.000000,...,45.000000,100000.000000,17.750000,0.000000,0.000000,8.138600e+04,2.510000e+04,NaN,1.000000,0.000000
75%,276.250000,6.503778e+07,6.956436e+07,20000.000000,20000.000000,14.650000,578.790000,9.250000e+04,25.520000,0.000000,...,63.000000,131000.000000,22.650000,0.000000,0.000000,2.097080e+05,4.260000e+04,NaN,1.000000,1.000000
max,368.000000,6.861687e+07,7.351969e+07,35000.000000,35000.000000,28.990000,1445.460000,9.000000e+06,9999.000000,30.000000,...,171.000000,410000.000000,43.860000,5.000000,380757.000000,4.127799e+06,1.641300e+06,NaN,1.000000,1.000000

In [3]:
profile = ProfileReport(df)

In [4]:
profile.to_file('report.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

  0%|          | 0/53 [00:00<?, ?it/s]
  4%|▍         | 2/53 [00:01<00:25,  1.96it/s]
  6%|▌         | 3/53 [00:01<00:17,  2.83it/s]
 21%|██        | 11/53 [00:01<00:03, 13.72it/s]
 51%|█████     | 27/53 [00:01<00:00, 38.21it/s]
 68%|██████▊   | 36/53 [00:01<00:00, 29.42it/s]
100%|██████████| 53/53 [00:02<00:00, 25.20it/s]
/Users/thanasisxan/repos/AI-101-Machine-Learning/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1632: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  return spearmanr(a, b)[0]
/Users/thanasisxan/repos/AI-101-Machine-Learning/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1632: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  return spearmanr(a, b)[0]
/Users/thanasisxan/repos/AI-101-Machine-Learning/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1632: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  return spearmanr(a, b)[0]
/Users/thanasisxan/repos/AI-101-Machine-Learning/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1632: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  return spearmanr(a, b)[0]
/Users/thanasisxan/repos/AI-101-Machine-Learning/.venv/lib/python3.13/site-packages/pandas/core/nanops.py:1632: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  return spearmanr(a, b)[0]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Question 2

## 1.

* mean: 15257.966
* max: 35000
* min: 1000

## 2.

In [6]:
df.columns

Index(['Row ID', 'id', 'member_id', 'loan_amnt', 'funded_amnt', 'term',
       'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'purpose', 'title', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'total_pymnt', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'application_type', 'annual_inc_joint',
       'dti_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal',
       'total_rev_hi_lim', 'Unnamed: 50', '36months', '60months'],
      dtype='object')

Variables to drop for training:
* Row ID
* id
* member_id
* Unnamed: 50
* 36months
* 60months
* acc_now_delinq
* delinq_2yrs
* dti
* application_type
* collections_12_mths_ex_med
* collection_recovery_fee
* recoveries
* total_rec_late_fee
* issue_d
* loan_status
* emp_title
* desc
* addr_state
* zip_code
* earliest_cr_line
* grade
* sub_grade

In [11]:
df.drop(columns=[
    'Row ID', 'id', 'member_id', 'Unnamed: 50', '36months', '60months',
    'acc_now_delinq', 'delinq_2yrs', 'dti', 'application_type',
    'collections_12_mths_ex_med', 'collection_recovery_fee', 'recoveries',
    'total_rec_late_fee', 'issue_d', 'loan_status', 'emp_title',
    'earliest_cr_line', 'grade','last_pymnt_d','mths_since_last_major_derog'
], inplace=True)

# Question 3

In [12]:
get_loan = ['A1', 'A2', 'A3', 'A4', 'A5', 'B1', 'B2']  # with this subgrade they get loan
df['target'] = df['sub_grade'].isin(get_loan).astype(int)  # 0 dont get loan, 1 get loan
df.drop(columns=['sub_grade'], inplace=True)

In [13]:
df.isnull().sum()

loan_amnt                           0
funded_amnt                         0
term                                0
int_rate                            0
installment                         0
emp_length                      12767
home_ownership                      0
annual_inc                          0
verification_status                 0
purpose                             0
title                              15
inq_last_6mths                      0
mths_since_last_delinq         103371
open_acc                            0
pub_rec                             0
revol_bal                           0
revol_util                         82
total_acc                           0
initial_list_status                 0
out_prncp                           0
total_pymnt                         0
total_rec_prncp                     0
total_rec_int                       0
last_pymnt_d                     8489
last_pymnt_amnt                     0
next_pymnt_d                     2773
last_credit_pull_d                  7
mths_since_last_major_derog    150634
annual_inc_joint               212558
dti_joint                      212560
tot_coll_amt                        0
tot_cur_bal                         0
total_rev_hi_lim                    0
target                              0
dtype: int64